/* MAIN page */

/* Голд байрлуулах */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

/* Дугуй товч */
.circle-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  background-color: #BBFFB9;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.circle-button:hover {
  transform: scale(1.05);
}

/* Зураг товчны дотор */
.circle-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
